src/html/murano2020/about-v1.pug
include _header
include _navigation

- var data = about2020V1
- var { header, list } = data

<div class='container'>
	.container-item_spacer--small
	.container-hed.center-stack
		h1!= header.title
		p.left-align!= header.textOne

		.container-item_spacer--xsmall

		ul.about-list.left-align
			each listItem,i in list
				li!= listItem.item
					img.plus-icon(src='https://www.muranophotography.com/images/close.svg')


include _footer
include _closeheader

build/html/murano2020/about-v1.html
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>MURANO PHOTOGRAPHY &copy; 2020 | Web Development</title>
<meta name="description" content="Darin Murano | Multidisciplined creator | I take lessons I’ve learned from multiple disciplines to evolve as a creative.">
<link rel="shortcut icon" HREF="https://www.muranophotography.com/mplogo.ico">
<link rel="stylesheet" type="text/css" href="murano2020.css">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="lazysizes.min.js" async=""></script>
</head>
<body>
<div class="nav">
  <div class="logo">
    <h3><a href="index.html">DARIN MURANO</a></h3>
  </div>
</div>
<div class="nav-dropdown">
  <div class="nav-dropdown_flyout" id="nav-dropdown_flyout">
    <ul>
      <li><a href="index.html">HOME</a></li>
      <li><a href="web.html">WEB DEV</a></li>
      <li><a href="video.html">VIDEO/3D/FX</a></li>
      <li><a href="photo.html">PHOTOGRAPHY</a></li>
      <li><a href="casestudy.html">CASE STUDIES</a></li>
      <li><a href="about.html">ABOUT ME</a></li>
    </ul>
  </div>
  <div class="hamberger" id="hamberger"><img src="https://www.muranophotography.com/images/hamberger.svg"/></div>
</div><div class='container'>
<div class="container-item_spacer--small"></div>
<div class="container-hed center-stack">
  <h1>ABOUT ME</h1>
  <p class="left-align">As a 2nd grader, I attended a field trip to the outdoor learning center in my area. After our little excursion, the counselor asked us to draw something that stood out to us while we were out on the trail. I drew a snake. The counselor reached out to my mom (the school secretary) afterward and told her that I had the makings of a true artist. From that point on I began:</p>
  <div class="container-item_spacer--xsmall"></div>
  <ul class="about-list left-align">
    <li> Playing the drums<img class="plus-icon" src="https://www.muranophotography.com/images/close.svg"/></li>
    <li> Skateboarding<img class="plus-icon" src="https://www.muranophotography.com/images/close.svg"/></li>
    <li> Photography<img class="plus-icon" src="https://www.muranophotography.com/images/close.svg"/></li>
    <li> Printmaking<img class="plus-icon" src="https://www.muranophotography.com/images/close.svg"/></li>
    <li> Photoshop<img class="plus-icon" src="https://www.muranophotography.com/images/close.svg"/></li>
    <li> After Effects<img class="plus-icon" src="https://www.muranophotography.com/images/close.svg"/></li>
    <li> Video editing<img class="plus-icon" src="https://www.muranophotography.com/images/close.svg"/></li>
    <li> Web development<img class="plus-icon" src="https://www.muranophotography.com/images/close.svg"/></li>
    <li> 3D<img class="plus-icon" src="https://www.muranophotography.com/images/close.svg"/></li>
    <li> Audio mixing<img class="plus-icon" src="https://www.muranophotography.com/images/close.svg"/></li>
    <li> Motion capture<img class="plus-icon" src="https://www.muranophotography.com/images/close.svg"/></li>
  </ul>
</div>
<div class="footer">
  <div class="svg-icon_grid"><a class="svg-icon" href="https://www.linkedin.com/in/darinmurano" target="_blank"><img src="/images/Linkedin.svg"/></a><a class="svg-icon" href="https://www.instagram.com/darinmurano/" target="_blank"><img src="https://www.muranophotography.com/images/Instagram.svg"/></a></div>
  <div class="container-item_spacer--xsmall"></div>
  <h4><a href="mailto:darin@muranophotography.com">darin@muranophotography.com</a></h4>
</div></div>
<script>
  function openNav() {
  	const flyout = document.getElementById("nav-dropdown_flyout");
  	const hamberger = document.getElementById("hamberger");
  	
  	flyout.classList.toggle("nav-open");
  	hamberger.classList.toggle("nav-open");
  }
  
  document.getElementById("hamberger").addEventListener("click", function() {
  	openNav();
  });
  
  
</script></body>
</html>
