build/html/murano2020/index.html
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>MURANO PHOTOGRAPHY &copy; 2020 | Web Development</title>
<meta name="description" content="Darin Murano | Multidisciplined creator | I take lessons I’ve learned from multiple disciplines to evolve as a creative.">
<link rel="shortcut icon" HREF="https://www.muranophotography.com/mplogo.ico">
<link rel="stylesheet" type="text/css" href="murano2020.css">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="lazysizes.min.js" async=""></script>
</head>
<body>
<div class="nav">
  <div class="logo">
    <h3><a href="index.html">DARIN MURANO</a></h3>
  </div>
</div>
<div class="nav-dropdown">
  <div class="nav-dropdown_flyout" id="nav-dropdown_flyout">
    <ul>
      <li><a href="index.html">HOME</a></li>
      <li><a href="web.html">WEB DEV</a></li>
      <li><a href="video.html">VIDEO/3D/FX</a></li>
      <li><a href="photo.html">PHOTOGRAPHY</a></li>
      <li><a href="casestudy.html">CASE STUDIES</a></li>
      <li><a href="about.html">ABOUT ME</a></li>
    </ul>
  </div>
  <div class="hamberger" id="hamberger"><img src="https://www.muranophotography.com/images/hamberger.svg"/></div>
</div><div class='container'>
<div class="container-item_spacer--small"></div>
<div class="container-hed_wide">
  <h1 class="home-bold">MULTI-<br>DISCIPLINED<br>CREATIVE</h1>
  <h1 class="left-align left-m20">VIDEO/FX/WEB/<br class='is-hidden_large'>PHOTOGRAPHY/3D</h1>
</div>
<div class="container-hed_wide">
  <h2 class="home-bold home-bold_small left-m20">I TAKE LESSONS<br>I’VE LEARNED FROM<br>MULTIPLE SKILL SETS<br>TO EVOLVE AS A<br>CREATIVE.</h2>
</div>
<div class="container-item_spacer"></div>
<div class="footer">
  <div class="svg-icon_grid"><a class="svg-icon" href="https://www.linkedin.com/in/darinmurano" target="_blank"><img src="/images/Linkedin.svg"/></a><a class="svg-icon" href="https://www.instagram.com/darinmurano/" target="_blank"><img src="https://www.muranophotography.com/images/Instagram.svg"/></a></div>
  <div class="container-item_spacer--xsmall"></div>
  <h4><a href="mailto:darin@muranophotography.com">darin@muranophotography.com</a></h4>
</div></div>
<script>
  function openNav() {
  	const flyout = document.getElementById("nav-dropdown_flyout");
  	const hamberger = document.getElementById("hamberger");
  	
  	flyout.classList.toggle("nav-open");
  	hamberger.classList.toggle("nav-open");
  }
  
  document.getElementById("hamberger").addEventListener("click", function() {
  	openNav();
  });
  
  
</script></body>
</html>

src/html/murano2020/index.pug
include _header
include _navigation

- var data = homePage2020V1
- var { header } = data

<div class='container'>
	.container-item_spacer--small
	.container-hed_wide
		h1.home-bold!= header.title
		h1.left-align.left-m20!= header.subTitle

	.container-hed_wide
		h2.home-bold.home-bold_small.left-m20!= header.text

	.container-item_spacer

include _footer
include _closeheader
